* {
    box-sizing: border-box;
    align-content: center; 
    margin: auto;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
    background-color: #e8e8ff;
    width: 90%;
    margin: auto;

   /*margin: 0 auto;*/
}

header {
    padding: 30px;
    text-align: center;
    background-color: white;
}
.card{padding: 30px;}

header h1 {
    font-size: 50px;
    font-weight: bolder;
}

nav {
    background-color: #848491;
}



nav ul {
    position: relative;
}

nav ul li {
    display: inline-block;
    padding: 20px;
}



nav ul li a {
    text-decoration: none;
    color: #F2F0F5;
    font-weight: bold;
}






h2,
h3 {
    font-weight: bold;
    padding: 10px 0;
}

p {
    font-weight: 500;
    text-align: justify;
}
/*
main article div  {position:relative;
    float: right;

}
main article div img{
    position:absolute;
    top:0;
    left: 0;
    float: left;

    
    
}*/

.right  h2, p{float: right;
width: 50%;
 }
 .right  p{overflow: scroll;
 }

.left{float: left;}

.hover1 p a{border: blanchedalmond ;
    width: 150px;
    color: black;
    background-color: rgba(121, 113, 113, 0.253);
    text-decoration: none;
    display: inline-block;
    text-align: center;
   }
   
   .hover1 p :hover{background-color: brown;
}





    footer {
        clear: both;
        padding: 30px;
        background-color: #c3c1c7ee;
        
    }